p{
	font-family:"Arial Black";
	font-size:15px;
}

.formContainer{
	width: 500px;
	padding: 10px 10px 10px;
	margin: 100px auto;
	border: 1px solid #000;
	background-color: #FCFBFF;
	box-shadow: 2px 2px 2px #888888;
}

.form{
	width: 400px;
	margin: 0 auto;
}
.form>a{
	font-family:"Arial Black";
	font-size:15px;
	color:#1B0420;
	text-decoration: none;
}
h1{
	font-family:Arial Black;
	font-size:30px;
	color:#1B0420;
}
body{
	background-color: #ccc;
	margin-top:80px;
}
#header{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:60px;
	background:#1B0420;
	font-family:"Impact";
	color: #FFFFFF;
	font-size:50px;
	border-bottom:1px #000 solid;
	padding:10px 10px 10px;
}

a{
	font-family:"Arial Black";
	font-size:15px;
	color:#fff;
	text-decoration: none;
}
#leftHeader{
	position:relative;
	width:100px;
	float:left;

}
#rightHeader{
	position: relative;
	width:300px;
	float: right;
}


input[type=submit]{
	padding:5px 15px;
	background:#ccc;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:#1B0420;
}

#pageContainer{
	width: 90%;
	margin: 0 auto;
	padding:50px;
}
#pageContainer table{
	margin:0 auto;
	border: 3px solid #1B0420;
	padding:0px;
	border-spacing: 0;
}
#pageContainer td{
	height:300px;
	width:400px;
	border:1px solid #000;
	background-color: #A4A3A5;
}
#pageContainer tr{
}
#pageContainer ul {
	list-style-type: none;
}
